@{
    ViewBag.Title = "About";
}

@section head{
    @Styles.Render("~/Content/qbuilder")
}

<div class="row">
    <div class="col-md-12 col-lg-10 col-lg-offset-1">

        <div id="builder"></div>

        <div class="btn-group">
            <button class="btn btn-warning reset">Reset</button>
            <button class="btn btn-default" disabled>Get:</button>
            <button class="btn btn-primary parse-json">JSON</button>
            <button class="btn btn-primary parse-sql" data-stmt="false">SQL</button>
            <button class="btn btn-primary parse-sql" data-stmt="question_mark">SQL statement</button>
            <button class="btn btn-primary parse-mongo">MongoDB</button>
        </div>

        <div id="result" class="hide">
            <h3>Output</h3>
            <pre></pre>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/qbuilder")
    <script type="text/javascript" src="@Url.Content("~/Scripts/jQueryBuilder/annotation-builder.js")"></script>
}