@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LIGHTHOUSE</h1>
    <p class="lead">Lighthouse is an MVC/jQuery application that uses the jQuery-QueryBuilder plugin to create custom annotations for next generation sequencing results as part of the Typhoon project.</p>
    <p><a href="http://typhoon.io" class="btn btn-primary btn-lg">Learn more about Typhoon &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create</h2>
        <p>
            Create an annotation rule using the graphical user interface.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Rule")">Create rule &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Annotate</h2>
        <p>Variant call files (VCF) can be uploaded and an annotation report generated.</p>
        <p><a class="btn btn-default" href="@Url.Action("Annotate", "Rule")">Annotate VCF &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Connect</h2>
        <p>Annotations can be generated automatically through the web service interface.</p>
        <p><a class="btn btn-default" href="@Url.Action("Documentation")">View documentation &raquo;</a></p>
    </div>
</div>